services:
  couchdb:
    image: couchdb:{{ couchdb_version }}
    container_name: couchdb
    user: "1000:1000"
    ports:
      - "{{ couchdb_port }}:5984"
    volumes:
      - {{ couchdb_storage_path }}/data:/opt/couchdb/data:Z
      - {{ couchdb_data_dir }}/local.ini:/opt/couchdb/etc/local.ini:ro,Z
    environment:
      - COUCHDB_USER={{ couchdb_admin_user }}
      - COUCHDB_PASSWORD={{ couchdb_admin_password }}
    restart: unless-stopped
    networks:
      - couchdb

networks:
  couchdb:
    driver: bridge
