---
- name: Ensure the script directory exists
  ansible.builtin.file:
    path: /usr/local/bin
    state: directory
    mode: "0755"

- name: Ensure the download directory exists
  ansible.builtin.file:
    path: "{{ create_template_vm_image_download_path }}"
    state: directory
    mode: "0755"

- name: Ensure log file exists with proper permissions
  ansible.builtin.file:
    path: "{{ create_template_vm_log_file }}"
    state: touch
    mode: "0666"
    owner: root
    group: root

- name: Deploy the template VM creation script
  ansible.builtin.template:
    src: create_template_vm.sh.j2
    dest: "/usr/local/bin/{{ create_template_vm_script_name }}.sh"
    mode: "0755"

- name: Add a cron job to run the template VM creation script
  ansible.builtin.cron:
    name: "AlmaLinux Cloud template VM update"
    job: "pushover_template='{{ pushover_template }}' pushover_user='{{ pushover_user }}' /usr/local/bin/{{ create_template_vm_script_name }}.sh"
    user: root
    weekday: "{{ create_template_vm_cron_weekday }}"
    hour: "{{ create_template_vm_cron_hour }}"
    minute: "{{ create_template_vm_cron_minute }}"

- name: Restart cron service
  ansible.builtin.service:
    name: "{{ 'crond' if ansible_facts['os_family'] == 'RedHat' else 'cron' }}"
    state: restarted
    enabled: true
