---
- name: Ensure the download directory exists
  ansible.builtin.file:
    path: "{{ create_template_vm_image_download_path }}"
    state: directory
    mode: "0755"

- name: Deploy the template VM creation script
  ansible.builtin.template:
    src: create_template_vm.sh.j2
    dest: "/usr/local/bin/{{ create_template_vm_script_name }}.sh"
    owner: root
    group: root
    mode: "0755"

- name: Deploy systemd service unit
  ansible.builtin.template:
    src: create-template-vm.service.j2
    dest: "/etc/systemd/system/create-template-vm.service"
    owner: root
    group: root
    mode: "0644"
  notify: Reload systemd

- name: Deploy systemd timer unit
  ansible.builtin.template:
    src: create-template-vm.timer.j2
    dest: "/etc/systemd/system/create-template-vm.timer"
    owner: root
    group: root
    mode: "0644"
  notify: Reload systemd

- name: Enable and start create template VM timer
  ansible.builtin.systemd:
    name: create-template-vm.timer
    enabled: true
    state: started
    daemon_reload: true
