[Unit]
Description=Vaultwarden backup to smb share
Documentation=man:systemd.service(5)

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/bin/{{ vaultwarden_backup_script_name }}.sh
StandardError=journal
StandardOutput=journal
SyslogIdentifier={{ vaultwarden_backup_script_name }}

[Install]
WantedBy=multi-user.target
