---
- name: Deploy reboot notification systemd service unit
  ansible.builtin.template:
    src: scheduled-reboot-notification.service.j2
    dest: "/etc/systemd/system/scheduled-reboot-notification.service"
    owner: root
    group: root
    mode: "0644"
  notify: Reload systemd

- name: Enable reboot notification service to run at boot
  ansible.builtin.systemd:
    name: scheduled-reboot-notification.service
    enabled: true
    daemon_reload: true

- name: Deploy scheduled reboot systemd service unit
  ansible.builtin.template:
    src: scheduled-reboot.service.j2
    dest: "/etc/systemd/system/scheduled-reboot.service"
    owner: root
    group: root
    mode: "0644"
  notify: Reload systemd

- name: Deploy scheduled reboot systemd timer unit
  ansible.builtin.template:
    src: scheduled-reboot.timer.j2
    dest: "/etc/systemd/system/scheduled-reboot.timer"
    owner: root
    group: root
    mode: "0644"
  notify: Reload systemd

- name: Enable and start scheduled reboot timer
  ansible.builtin.systemd:
    name: scheduled-reboot.timer
    enabled: true
    state: started
    daemon_reload: true
