---
- name: Ensure the script directory exists
  ansible.builtin.file:
    path: /usr/local/bin
    state: directory
    mode: "0755"

- name: Ensure log file exists with proper permissions
  ansible.builtin.file:
    path: /var/log/weekly_reboot.log
    state: touch
    mode: "0666"
    owner: root
    group: root

- name: Create the reboot notification script
  ansible.builtin.template:
    src: reboot_notice.sh.j2
    dest: /usr/local/bin/reboot_notice.sh
    mode: "0755"

- name: Add a cron job to run the reboot notification script at startup
  ansible.builtin.cron:
    name: "Notify on reboot"
    special_time: reboot
    # Since we injected variables into the script above, the cron job is cleaner
    job: "/usr/local/bin/reboot_notice.sh"
    user: root

- name: Schedule a weekly reboot
  ansible.builtin.cron:
    name: "Weekly reboot"
    minute: "{{ reboot_schedule_minute }}"
    hour: "{{ reboot_schedule_hour }}"
    weekday: "{{ reboot_schedule_weekday }}"
    day: "{{ reboot_schedule_dom }}"
    month: "{{ reboot_schedule_month }}"
    job: "/sbin/reboot"
    user: root

- name: Restart cron service to apply changes
  ansible.builtin.service:
    name: "{{ 'crond' if ansible_facts['os_family'] == 'RedHat' else 'cron' }}"
    state: restarted
    enabled: true