---
- name: Ensure the script directory exists
  ansible.builtin.file:
    path: /usr/local/bin
    state: directory
    mode: "0755"

- name: Ensure log file exists with proper permissions
  ansible.builtin.file:
    path: "{{ scheduled_reboot_log_file }}"
    state: touch
    mode: "0666"
    owner: root
    group: root

- name: Create the reboot notification script
  ansible.builtin.template:
    src: scheduled_reboot.sh.j2
    dest: "/usr/local/bin/{{ scheduled_reboot_script_name }}.sh"
    mode: "0755"

- name: Add a cron job to run the reboot notification script at startup
  ansible.builtin.cron:
    name: "Notify on reboot"
    special_time: reboot
    # Since we injected variables into the script above, the cron job is cleaner
    job: "/usr/local/bin/{{ scheduled_reboot_script_name }}.sh"
    user: root

- name: Schedule a weekly reboot
  ansible.builtin.cron:
    name: "Weekly reboot"
    minute: "{{ scheduled_reboot_cron_minute }}"
    hour: "{{ scheduled_reboot_cron_hour }}"
    weekday: "{{ scheduled_reboot_cron_weekday }}"
    day: "{{ scheduled_reboot_cron_dom }}"
    month: "{{ scheduled_reboot_cron_month }}"
    job: "/sbin/reboot"
    user: root

- name: Restart cron service to apply changes
  ansible.builtin.service:
    name: "{{ 'crond' if ansible_facts['os_family'] == 'RedHat' else 'cron' }}"
    state: restarted
    enabled: true
