---
- name: Deploy the Immich backup script
  ansible.builtin.template:
    src: immich_backup.sh.j2
    dest: "/usr/local/bin/{{ immich_backup_script_name }}.sh"
    owner: root
    group: root
    mode: "0755"

- name: Deploy systemd service unit
  ansible.builtin.template:
    src: immich-backup.service.j2
    dest: "/etc/systemd/system/immich-backup.service"
    owner: root
    group: root
    mode: "0644"
  notify: Reload systemd

- name: Deploy systemd timer unit
  ansible.builtin.template:
    src: immich-backup.timer.j2
    dest: "/etc/systemd/system/immich-backup.timer"
    owner: root
    group: root
    mode: "0644"
  notify: Reload systemd

- name: Enable and start Immich backup timer
  ansible.builtin.systemd:
    name: immich-backup.timer
    enabled: true
    state: started
    daemon_reload: true
