:{{ caddy_docker_port }} {
	handle_path /couch* {
		reverse_proxy {{ vms.services.ip }}:{{couchdb_port}}
	}

	handle /vaultwarden* {
		reverse_proxy {{ vms.services.ip }}:{{ vaultwarden_port }}
	}

	handle /uptime {
		redir /uptime/dashboard permanent
	}

	handle_path /uptime/* {
		reverse_proxy 127.0.0.1:3001
	}

	redir /.well-known/caldav /nextcloud/remote.php/dav/ permanent
	redir /.well-known/carddav /nextcloud/remote.php/dav/ permanent

	handle /nextcloud {
		redir /nextcloud/ permanent
	}

	handle_path /nextcloud/* {
		reverse_proxy {{ vms.nextcloud.ip }}:{{ vms.nextcloud.port }}
	}

	handle {
		respond "caddy in running in docker"
	}


}
