:{{ caddy_docker_port }} {
	handle_path /couch* {
		reverse_proxy {{ vms.services.ip }}:{{couchdb_port}}
	}

	handle /vaultwarden* {
		reverse_proxy {{ vms.services.ip }}:{{ vaultwarden_port }}
	}

	handle /uptime {
		redir /uptime/dashboard permanent
	}

	handle_path /uptime/* {
		reverse_proxy 127.0.0.1:3001
	}

	handle {
		respond "caddy in running in docker"
	}


}
