services:
  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports: 
      - "{{ caddy_port }}:{{ caddy_docker_port }}"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:
