- name: Configure directory mappings in Proxmox
  uri:
    url: "https://{{ api_host }}:8006/api2/json/cluster/mapping/pbs/{{ item.id }}"
    method: POST
    headers:
      Authorization: "PVEAPIToken={{ api_user }}!{{ api_token_id }}={{ api_token_secret }}"
    body_format: json
    body:
      id: "{{ item.id }}"
      path: "{{ item.path }}"
      nodes: "{{ item.nodes | default(node) }}"
    validate_certs: no
    status_code: [200, 400]
  loop: "{{ directory_mappings }}"
  register: mapping_result
  failed_when:
    - mapping_result.status == 400
    - "'already exists' not in (mapping_result.json.errors | default('') | string)"

- name: Update existing directory mappings
  uri:
    url: "https://{{ api_host }}:8006/api2/json/cluster/mapping/pbs/{{ item.id }}"
    method: PUT
    headers:
      Authorization: "PVEAPIToken={{ api_user }}!{{ api_token_id }}={{ api_token_secret }}"
    body_format: json
    body:
      path: "{{ item.path }}"
      nodes: "{{ item.nodes | default(node) }}"
    validate_certs: no
    status_code: 200
  loop: "{{ directory_mappings }}"
  when: mapping_result.results[0].status == 400