#!/bin/bash
#
# Pi-hole gravity update script.
# Logs to systemd journal for Grafana/Loki.
# This script is managed by Ansible.

SCRIPT_NAME="{{ pihole_gravity_update_script_name }}"

logger -t "$SCRIPT_NAME" -p user.info "Starting Pi-hole update"

if sudo /usr/local/bin/pihole -up 2>&1 | logger -t "$SCRIPT_NAME" -p user.info; then
    logger -t "$SCRIPT_NAME" -p user.info "Pi-hole update completed successfully"
else
    logger -t "$SCRIPT_NAME" -p user.err "Pi-hole update FAILED"
    exit 1
fi

logger -t "$SCRIPT_NAME" -p user.info "Pi-hole update script finished"
