---
- name: Mount filesystems
  ansible.posix.mount:
    path: "{{ mount_virtiofs_path }}" # Use the variable for the mount path
    src: "{{ mount_virtiofs_tag }}" # Use the variable for the VirtioFS tag
    fstype: virtiofs
    state: mounted
  listen: Mount filesystems
