---
- name: Create samba VM
  hosts: proxmox
  become: false
  vars_files:
    - ../secrets.yml
  roles:
    - role: create_vm
      vars:
        create_vm_name: github-runner
        create_vm_newid: 4006
        create_vm_ipaddr: "{{ vms.github_runner.ip }}"
        create_vm_balloon: 3000
        create_vm_cores: 2
        create_vm_memory: 12000
        create_vm_sockets: 1
        create_vm_disk_size: 20G

- name: Configure GitHub Runner
  hosts: github-runner
  become: true
  vars_files:
    - ../secrets.yml
  vars:
    gitlab_runner_url: "http://{{ vms.github_runner.ip }}"
    gitlab_runner_executor: "docker"
    gitlab_runner_tags:
      - docker
      - linux
      - ansible
  roles:
    - firewall
    - github_runner
    - scheduled_reboot
    - scheduled_update
    - tailscale_static_route
