---
- name: Backup immich before recreate
  hosts: immich
  become: true
  gather_facts: false
  tasks:
    - name: Run immich backup script
      ansible.builtin.command: /usr/local/bin/immich_backup_notice.sh
      when: force_recreate | default(false) | bool
      changed_when: true

- name: Create services VM
  hosts: proxmox
  become: false
  vars_files:
    - ../secrets.yml
  roles:
    - role: create_vm
      vars:
        create_vm_name: immich
        create_vm_newid: 4005
        create_vm_ipaddr: "{{ vms.immich.ip }}"
        create_vm_balloon: 8000
        create_vm_cores: 3
        create_vm_memory: 32000
        create_vm_sockets: 1
        create_vm_disk_size: 200G
        create_vm_virtiofs_tag: "{{ virtiofs_tags.smb }}"

- name: Configure samba vm
  hosts: immich
  become: true
  vars_files:
    - ../secrets.yml
  vars:
    scheduled_reboot_notify: false
    docker_compose_paths:
      - "/home/{{ template.user }}/immich-app/docker-compose.yml"
  roles:
    - scheduled_reboot
    - scheduled_update
    - immich_backup
    - immich
    - docker_auto_update
