---
- name: Create loki VM
  hosts: proxmox
  become: false
  vars_files:
    - ../secrets.yml
  roles:
    - role: create_vm
      vars:
        create_vm_name: loki
        create_vm_newid: "{{ vms.loki.vmid }}"
        create_vm_ipaddr: "{{ vms.loki.ip }}"
        create_vm_balloon: 1501
        create_vm_cores: 1
        create_vm_memory: 4096
        create_vm_sockets: 1
        create_vm_disk_size: 20G
        create_vm_virtiofs_tag: "{{ virtiofs_tags.smb }}"

- name: Configure loki vm
  hosts: loki
  become: true
  vars_files:
    - ../secrets.yml
  vars:
    scheduled_reboot_notify: false
    docker_auto_update_compose_paths:
      - "/home/{{ template.user }}/loki/docker-compose.yml"
  roles:
    - mount_virtiofs
    - loki
    - promtail
    - docker_auto_update
    - scheduled_reboot
    - scheduled_update
