---
- name: Create pihole VM
  hosts: proxmox2
  become: false
  vars_files:
    - ../secrets.yml
  roles:
    - role: create_vm
      vars:
        create_vm_name: pihole-secondary
        create_vm_newid: 4001
        create_vm_ipaddr: "{{ vms['pihole-secondary'].ip }}"
        create_vm_target_node: "{{ proxmox2.node }}"
        create_vm_balloon: 1500
        create_vm_cores: 1
        create_vm_memory: 2000
        create_vm_sockets: 1
        create_vm_disk_size: 10G

- name: Setup pihole vm
  hosts: pihole-secondary
  become: true
  vars:
    ansible_host_key_checking: false
    is_secondary_pihole: true
    pihole_ipv6_ula_address: "fd00:abcd::27"
    send_reboot_pushover_notification: false
  vars_files:
    - ../secrets.yml
  roles:
    - scheduled_update
    - scheduled_reboot
    - pihole
    - pihole_gravity_update
