---
- name: Backup pihole before recreating VM
  hosts: pihole
  become: true
  gather_facts: false
  vars_files:
    - ../secrets.yml
  tasks:
    - name: Take backup of current pihole
      ansible.builtin.include_tasks:
        file: "{{ playbook_dir }}/../roles/pihole/tasks/backup.yml"
      when: force_recreate | default(false) | bool

- name: Create pihole VM
  hosts: proxmox
  become: false
  vars_files:
    - ../secrets.yml
  roles:
    - role: create_vm
      vars:
        create_vm_name: pihole
        create_vm_newid: 4002
        create_vm_ipaddr: "{{ vms.pihole.ip }}"
        create_vm_balloon: 1500
        create_vm_cores: 1
        create_vm_memory: 2000
        create_vm_sockets: 1
        create_vm_disk_size: 10G
        create_vm_virtiofs_tag: "{{ virtiofs_tags.smb }}"

- name: Setup pihole vm
  hosts: pihole
  become: true
  vars:
    ansible_host_key_checking: false
    scheduled_reboot_notify: false
  vars_files:
    - ../secrets.yml
  roles:
    - mount_virtiofs
    - scheduled_update
    - scheduled_reboot
    - pihole
    - pihole_gravity_update
    - promtail
