---
- name: Create pihole VM
  hosts: proxmox
  become: false
  vars_files:
    - ../secrets.yml
  roles:
    - role: create_vm
      vars:
        create_vm_name: pihole
        create_vm_newid: 4002
        create_vm_ipaddr: "{{ vms.pihole.ip }}"
        create_vm_balloon: 1500
        create_vm_cores: 1
        create_vm_memory: 2000
        create_vm_sockets: 1
        create_vm_disk_size: 10G

- name: Setup pihole vm
  hosts: pihole
  become: true
  vars:
    ansible_host_key_checking: false
    scheduled_reboot_notify: false
  vars_files:
    - ../secrets.yml
  roles:
    - scheduled_update
    - scheduled_reboot
    - pihole
    - pihole_gravity_update
