---
- name: Create pihole VM
  hosts: proxmox2
  become: false
  vars_files:
    - ../secrets.yml
  roles:
    - role: create_vm
      vars:
        name: pihole-secondary
        newid: 4001
        ipaddr: "{{ vms['pihole-secondary'].ip }}"
        node: "{{ proxmox2.node }}"
        api_user: "{{ proxmox2.api_user }}"
        balloon: 1500
        cores: 1
        memory: 2000
        sockets: 1
        create_vm_disk_size: 10G

        
- name: Setup pihole vm
  hosts: pihole-secondary
  become: true
  vars:
    ansible_host_key_checking: false
    is_secondary_pihole: true
    pihole_ipv6_ula_address: "fd00:abcd::27"
    send_reboot_pushover_notification: false
  vars_files:
    - ../secrets.yml
  roles:
    - scheduled_update
    - scheduled_reboot
    - pihole
    - pihole_gravity_update