---
- name: Configure primary Proxmox
  hosts: proxmox
  vars_files:
    - ../secrets.yml
  roles:
    - role: create_template_vm
      tags: create_template_vm
    - sanoid
    - syncoid
    - scheduled_update
    - proxmox_config
    - tailscale_static_route
    - promtail
