---
- name: Create tailscale subnet router VM
  hosts: proxmox
  become: false
  vars_files:
    - ../secrets.yml
  roles:
    - role: create_vm
      vars:
        create_vm_name: subnet-router
        create_vm_newid: 4003
        create_vm_ipaddr: "{{ vms.subnet_router.ip }}"
        create_vm_balloon: 1500
        create_vm_cores: 1
        create_vm_memory: 3000
        create_vm_sockets: 1
        create_vm_disk_size: 10G

- name: Setup subnet router
  hosts: subnet-router
  become: true
  gather_facts: false
  pre_tasks:
    # 2. Wait until we can actually log in via SSH
    - name: Wait for target to be reachable via SSH
      ansible.builtin.wait_for_connection:
        delay: 5
        timeout: 300
        connect_timeout: 5
        sleep: 5

    - name: Gather facts
      ansible.builtin.setup:

  vars:
    ansible_host_key_checking: false
    send_reboot_pushover_notification: false
  vars_files:
    - ../secrets.yml
  roles:
    - tailscale_subnet_router
    - scheduled_reboot
    - scheduled_update
