---
- name: Ensure EPEL repository is enabled
  become: true # Use become (sudo) for system-level tasks
  dnf:
    name: epel-release
    state: present

- name: Install Syncthing package
  become: true
  dnf:
    name: syncthing
    state: present

- name: Create Syncthing configuration directory for user
  become: true
  file:
    path: "/home/{{ template.user }}/.config/syncthing"
    state: directory
    owner: "{{ template.user }}"
    group: "{{ template.user }}"
    mode: "0750"

- name: Copy existing Syncthing configuration for
  become: true
  copy:
    src: syncthing_config/
    dest: "/home/{{ template.user }}/.config/syncthing/"
    owner: "{{ template.user }}"
    group: "{{ template.user }}"
    mode: "0600"

- name: Enable and start the Syncthing service for user
  become: true
  systemd:
    name: "syncthing@{{ template.user }}.service"
    enabled: true
    state: started

- name: Allow Syncthing GUI port through the firewall
  become: true
  ansible.posix.firewalld:
    port: 8384/tcp
    permanent: true
    state: enabled
    immediate: true
