#! /bin/bash

# --- Variables injected by Ansible ---
VMID={{ template.vmid }}
IMAGE_NAME={{ template.name }}
USER={{ template.user }}
VM_PASSWORD="{{ vm_password }}"
GATEWAY="{{ gateway }}"
STORAGE="{{ template_storage }}"
SEARCH_DOMAIN="{{ template_search_domain }}"

# Point to the file downloaded by Ansible
FILE="{{ image_download_path }}/{{ alma_image_filename }}"

set -x

qm destroy $VMID

# Create VM structure
qm create $VMID --name $IMAGE_NAME --memory 4096 --net0 virtio,bridge=vmbr0 --agent 1
qm importdisk $VMID $FILE $STORAGE

# Hardware Settings
qm set $VMID --scsihw virtio-scsi-single
qm set $VMID --scsi0 $STORAGE:vm-$VMID-disk-0,discard=on,iothread=1,ssd=1,cache=none
qm set $VMID --ide2 $STORAGE:cloudinit
qm set $VMID --boot c --bootdisk scsi0
qm set $VMID --serial0 socket
qm set $VMID --cpu host
qm set $VMID --numa 1

# Cloud-Init Settings
qm set $VMID --ciuser $USER
qm set $VMID --cipassword "$VM_PASSWORD"
qm set $VMID --sshkeys /root/.ssh/authorized_keys 
qm set $VMID --ipconfig0 ip=dhcp

# DNS Settings
qm set $VMID --nameserver "$GATEWAY"
qm set $VMID --searchdomain "$SEARCH_DOMAIN"

# Convert to Template
qm template $VMID