---
- name: Create Teleporter backup on secondary Pi-hole (v6)
  ansible.builtin.command:
    cmd: "pihole-FTL --teleporter"
    chdir: "/tmp"
  delegate_to: pihole-secondary
  become: true

- name: Find the backup filename in /tmp (Checking for .zip)
  ansible.builtin.shell: "set -o pipefail && ls -t /tmp/*teleporter*.zip | head -n 1"
  args:
    executable: /bin/bash
  delegate_to: pihole-secondary
  register: pihole_teleporter_find_result
  become: true
  changed_when: false

- name: Set the filename fact
  ansible.builtin.set_fact:
    pihole_teleporter_fname: "{{ pihole_teleporter_find_result.stdout | trim }}"

- name: Fail if no file was found
  ansible.builtin.fail:
    msg: "No teleporter .zip file found in /tmp on remote host."
  when: pihole_teleporter_fname == ""

- name: Fetch the backup file from pihole-secondary
  ansible.builtin.fetch:
    src: "{{ pihole_teleporter_fname }}"
    dest: /tmp/
    flat: true
  delegate_to: pihole-secondary

- name: Copy the backup file to the primary Pi-hole
  ansible.builtin.copy:
    src: "/tmp/{{ pihole_teleporter_fname | basename }}"
    dest: "/tmp/restore.zip"
    mode: "0644"

- name: Restore configuration from Teleporter backup (v6)
  ansible.builtin.command: "pihole-FTL --teleporter /tmp/restore.zip"
  become: true
  register: pihole_restore_result
  changed_when: "'Restoring' in pihole_restore_result.stdout"

- name: Update Gravity to apply imported lists
  ansible.builtin.command: "/usr/local/bin/pihole -g"
  become: true
