---
- name: Create Teleporter backup on secondary Pi-hole (v6)
  ansible.builtin.shell:
    cmd: "pihole-FTL --teleporter"
    chdir: "/tmp"
  delegate_to: pihole-macbook
  become: yes

- name: Find the backup filename in /tmp (Checking for .zip)
  ansible.builtin.shell: "ls -t /tmp/*teleporter*.zip | head -n 1"
  delegate_to: pihole-macbook
  register: teleporter_find_result
  become: yes
  changed_when: false

- name: Set the filename fact
  ansible.builtin.set_fact:
    teleporter_filename: "{{ teleporter_find_result.stdout | trim }}"

- name: Fail if no file was found
  ansible.builtin.fail:
    msg: "No teleporter .zip file found in /tmp on remote host."
  when: teleporter_filename == ""

- name: Fetch the backup file from pihole-macbook
  ansible.builtin.fetch:
    src: "{{ teleporter_filename }}"
    dest: /tmp/
    flat: yes
  delegate_to: pihole-macbook

- name: Copy the backup file to the primary Pi-hole
  ansible.builtin.copy:
    src: "/tmp/{{ teleporter_filename | basename }}"
    dest: "/tmp/restore.zip"

- name: Restore configuration from Teleporter backup (v6)
  ansible.builtin.command: "pihole-FTL --teleporter /tmp/restore.zip"
  become: yes
  register: restore_result
  changed_when: "'Restoring' in restore_result.stdout"

- name: Update Gravity to apply imported lists
  ansible.builtin.command: "/usr/local/bin/pihole -g"
  become: yes
