# Ansible Managed Immich Environment Configuration
# Generated on {{ ansible_date_time.iso8601 }}

# Required - Set in playbook variables
UPLOAD_LOCATION={{ upload_location }}
DB_DATA_LOCATION={{ db_data_location }}
IMMICH_VERSION={{ immich_version }}
DB_PASSWORD={{ db_password }}
DB_USERNAME={{ db_username }}
DB_DATABASE_NAME={{ db_database_name }}
